{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "WebServices API",
    "description": "Documentation to WebServices API"
  },
  "host": "webservices.grupolivamotor.com",
  "basePath": "/",
  "tags": [
    {
      "name": "Walcu",
      "description": "Endpoints"
    }
  ],
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/api/v1/walcu/sales": {
      "post": {
        "tags": ["Walcu"],
        "description": "Generate new JSON sale to PAPYRUM",
        "parameters": [
          {
            "name": "x-walcu-webhook-signature",
            "in": "header",
            "type": "string"
          },
          {
            "name": "sale",
            "in": "body",
            "description": "Sale to insert",
            "schema": {
              "$ref": "#/definitions/PostSale",
              "required": []
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/InvalidResponse"
            }
          }
        }
      }
    },
    "/api/v1/walcu/appraisals": {
      "post": {
        "tags": ["Walcu"],
        "description": "Generate new JSON appraisal to PAPYRUM",
        "parameters": [
          {
            "name": "x-walcu-webhook-signature",
            "in": "header",
            "type": "string"
          },
          {
            "name": "sale",
            "in": "body",
            "description": "Appraisal to insert",
            "schema": {
              "$ref": "#/definitions/PostAppraisal",
              "required": []
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/InvalidResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "PostSale": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "example": "Jonh Doe"
        },
        "telephone": {
          "type": "array",
          "example": ["666123456"]
        },
        "email": {
          "type": "array",
          "example": [" test@test.com"]
        },
        "address": {
          "type": "string",
          "example": "Avinguda dels Mercaders"
        },
        "number_address": {
          "type": "string",
          "example": "2"
        },
        "postal_code": {
          "type": "string",
          "example": "43000"
        },
        "city": {
          "type": "string",
          "example": "Reus"
        },
        "community": {
          "type": "string",
          "example": "Catalunya"
        },
        "province": {
          "type": "string",
          "example": "Tarragona"
        },
        "country": {
          "type": "string",
          "example": "España"
        },
        "assigned_to": {
          "type": "string",
          "example": "5e67ca23a51eef00048509a9"
        },
        "car_type": {
          "type": "string",
          "example": "new"
        },
        "client_type": {
          "type": "string",
          "example": "B2C"
        },
        "category": {
          "type": "string",
          "example": "car"
        },
        "car_brand": {
          "type": "string",
          "example": "ALPINE"
        },
        "car_model": {
          "type": "string",
          "example": "A110"
        },
        "origin": {
          "type": "string",
          "example": "exposición"
        },
        "campaign": {
          "type": "string",
          "example": "sin campaña"
        },
        "lead_id": {
          "type": "string",
          "example": "5e67ca23a51eef00048509a9"
        },
        "VIN": {
          "type": "string",
          "example": "VF72CYHSMN4104413"
        },
        "plate": {
          "type": "string",
          "example": "1235LKB"
        }
      },
      "required": ["name", "telephone", "email", "client_type", "VIN"]
    },
    "PostAppraisal": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "example": "Jonh Doe"
        },
        "telephone": {
          "type": "array",
          "example": ["+34666123456"]
        },
        "email": {
          "type": "array",
          "example": ["test@test.com"]
        },
        "address": {
          "type": "string",
          "example": "Avinguda dels Mercaders"
        },
        "number_address": {
          "type": "string",
          "example": "2"
        },
        "postal_code": {
          "type": "string",
          "example": "43000"
        },
        "city": {
          "type": "string",
          "example": "Reus"
        },
        "province": {
          "type": "string",
          "example": "Tarragona"
        },
        "community": {
          "type": "string",
          "example": "Catalunya"
        },
        "country": {
          "type": "string",
          "example": "España"
        },
        "assigned_to": {
          "type": "string",
          "example": "5e67ca23a51eef00048509a9"
        },
        "VIN": {
          "type": "string",
          "example": "WVGZZZ5NZHW942579"
        },
        "plate": {
          "type": "string",
          "example": "1234LKB"
        },
        "year": {
          "type": "number",
          "example": 2017
        },
        "car_brand": {
          "type": "string",
          "example": "ALPINE"
        },
        "car_model": {
          "type": "string",
          "example": "A110"
        },
        "origin": {
          "type": "string",
          "example": "exposición"
        },
        "campaign": {
          "type": "string",
          "example": "sin campaña"
        },
        "lead_id": {
          "type": "string",
          "example": "5e67ca23a51eef00048509a9"
        },
        "client_type": {
          "type": "string",
          "example": "B2C"
        }
      },
      "required": ["name", "telephone", "email", "client_type", "plate"]
    },
    "InvalidResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "number"
        },
        "message": {
          "message": "string"
        }
      }
    }
  }
}
